
.titulo{
    display: grid;
    place-content: center;
    font-size: 150px;
    font-weight: bolder;
}

#video-background
{
    opacity: 0.6;
    width: 1500px;
}   
#boton1{
    text-align: center;    
    place-content: center;
}

#imagen1{
    width: 80%;
}

.text-overlay {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7)
}

.text-tiitle
{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7)
}

